body {
  font-family: Arial, sans-serif;
  padding: 1rem;
}

#tree {
  padding-top: 10px;
}

.plugin-title {
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;

  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  transition: background 0.2s;
}

.plugin-title:hover {
  background: #34495e;
}

.steps {
  list-style-type: none;

  display: none;
}

.steps.visible {
  display: block;
}

.step {
  cursor: pointer;
  padding: 2px 4px;
  margin-top: 4px;
  border-radius: 4px;
  color: white;
}

.step:hover {
  background: #34495e;
}

.images {
  list-style-type: none;
  margin-left: 1.5rem;
  font-size: 0.9em;
  color: white;
  display: none;
}

.images.visible {
  display: block;
}

#header,
#toggle {
  margin: 10px;
}

.plugin-block {
  background: #6a7e9d;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  padding: 10px 15px;
  margin-bottom: 10px;
}
