.table-container {
  width: 100%;
  height: calc(100vh - 150px); /* 50% of viewport height */
  border: 1px solid #6a7e9d;
  overflow: hidden; /* Prevents outer scrolling */
  display: flex;
}

.table-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto; /* Enables both horizontal & vertical scrolling */
}

table {
  width: 100%;
  min-width: 800px; /* Forces horizontal scroll if content overflows */
  border-collapse: collapse;
  font-size: 0.875rem;
  text-align: left;
  color: #9ca3af;
}

tbody td {
  padding: 16px 24px;
  font-weight: 500;
  color: #242b35;
  white-space: nowrap; /* Prevents text wrapping */
}

thead th {
  background-color: #6a7e9d; /* Ensure background remains visible */
  color: white;
  padding: 10px;
}

th,
td {
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid #6a7e9d;
  color: #242b35;
}

#header,
#filters {
  margin: 10px;
}
